<%- include('../partials/header') %>
    <h1>Details</h1>
    <section id="show-page">
            <div><span class="info">Airline: </span><%= flight.airline %></div>
            <div><span class="info">Flight Number: </span><%= flight.flightNo %></div>
            <div><span class="info">Time: </span><%= flight.departs %></div>
            <div><span class="info">Airport: </span><%= flight.airport %></div>
    </section>
    <br><br>
    <h2>Add Arrival Information</h2>
    <form id="add-arrival" method="POST" action="/flights/<%= flight._id %>/details">
    <label>Arrival Time:</label>
    <input type="datetime-local" name="arrival" value="2019-08-14T13:30">
    <label>Airport:</label>
    <select name="airport">
        <option value="SEA">SEA</option>
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
    </select>
    <input type="submit" value="Add Arrival Information">
    </form>
    <h2>Arrival Information:</h2>
    <% flight.destinations.forEach(function(f) { %>
      <div><span class="info">Arrival Time: </span><%= f.arrival %></div>
      <div><span class="info">Airport: </span><%= f.airport %></div>
      <% }); %>
      <% console.log(flight) %>

      <table>
        <tbody>
            <% ticket.forEach(function(t) { %>
              <tr>
                <td>Seat Number</td>
                <td><%= t.seat %></td>
                <td>Price </td>
                <td>$<%= t.price %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        <form action="/tickets/<%=flight._id%>/new" method="GET">
        <button>Add new Ticket</button>
        </form>
<%- include('../partials/footer') %>